@import '../../Styles/variables';
@import "../../Styles/mixins";

// .projects {
//     @include pagewrap;
// }

.projects__wrap {
    @include pagewrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}