@import '../../Styles/variables';
@import "../../Styles/mixins";


.hero {
    @include pagewrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    @include tablet {
        padding-bottom: 0px;
    }
    @include desktop {
        padding-bottom: 0px;
    }
    background: linear-gradient( #c9dbe9, #fff);
    background-size: 100% 200%;
    animation: change 2s ease-in-out infinite;
}

@keyframes change {
  0% {background-position: bottom;}
  50% {background-position: top;}
  100% {background-position: bottom;}
}

