
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1440px) {
        @content;
    }
}

@mixin tabletText {
    @media screen and (min-width: 500px) {
        @content;
    }
}

@mixin pagewrap {
    width: 100vw;
    min-height: 100vh;
    padding: $mobile-padding;
    padding-top: 100px;
    padding-bottom: 100px;
    @include tablet {
        padding: $tablet-padding;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include desktop {
        padding: $desktop-padding;
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@mixin title-font {
    font-weight: bold;
    margin: 16px 0;
    font-size: 20px;
    @include tablet {
        margin: 18px 0;
        font-size: 25px;
    }
    @include desktop {
        margin: 20px 0;
        font-size: 28px;
    }
}

@mixin project-title {
    font-family: "Montserrat-Light";
    font-weight: bold;
    margin: 20px 0;
    font-size: 20px;
    @media (min-width: 640px) {
        margin: 25px 0;
        font-size: 25px;
    }
}

@mixin button {
    margin: 8px;
    text-decoration: none;
    width: 100px;
    border: 1px solid $text-color;
    border-radius: 3px;
    padding: 8px 0;
    text-align: center;
    font-size: $mobile-text-size;
    @include tablet {
        width: 80px;
    }
    @include desktop {
        width: 100px;
    }
}







