
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1440px) {
        @content;
    }
}

@mixin pagewrap {
    width: 100vw;
    min-height: 100vh;
    padding: $mobile-padding;
    padding-top: 10vh;
    @include tablet {
        padding: $tablet-padding;
        padding-top: 10vh;
    }
    @include desktop {
        padding: $desktop-padding;
        padding-top: 10vh;
    }
}

@mixin label-font {
    font-family: "Raleway-bold";
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

@mixin title-mobile-up {
    font-family: 'Raleway-bold';
    font-size: 30px;
    line-height: 38px;
}









