@font-face {
    font-family: 'Raleway-regular';
    src: url("../Assets/Raleway/Raleway-Regular.ttf");
}

@font-face {
    font-family: 'Raleway-light';
    src: url("../Assets/Raleway/Raleway-Light.ttf");
}

@font-face {
    font-family: 'Raleway-bold';
    src: url("../Assets/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: 'Roboto-regular';
    src: url("../Assets/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Roboto-light';
    src: url("../Assets/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url("../Assets/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat-light';
    src: url("../Assets/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url("../Assets/Montserrat/Montserrat-ExtraLight.ttf");
}

$hero-background-color: #323232;
$text-color: #323232;
$background-color: #fff;
$typing-text: #F3F3F3;
$label-color: #AFAFAF;
$mobile-padding: 0 16px;
$tablet-padding: 0 24px;
$desktop-padding: 0 32px;
$mobile-text-size: 14px;
$tablet-text-size: 16px;
$desktop-text-size: 18px;