@import '../../Styles/variables';
@import "../../Styles/mixins";

.about {
    @include pagewrap;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        @include tabletText {
            flex-direction: row;
        }
    }

    &__img--wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tabletText {
            flex-basis: 50%;
            justify-content: center;
        }
    }

    &__img {
        width: 200px;
        height: auto;
        @include tablet {
            width: 250px;
        }
        @include desktop {
            width: 300px;
        }
    }

    &__info--wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tabletText {
            flex-basis: 50%;
        }
        @include tablet {
            border-left: 1px solid $text-color;
            align-items: flex-start;
            justify-content: space-around;
        }
    }

    &__info {
        padding: 10px 20px;
        @include tablet {
            padding: 0 28px 10px 28px;
        }
        @include desktop {
            padding: 0 50px 10px 50px;
        }
    }

    &__info--text {
        font-size: $mobile-text-size;
        max-width: 300px;
        @include tablet {
            font-size: $tablet-text-size;
            max-width: 400px;
        }
        @include desktop {
            font-size: $desktop-text-size;
        }
    }

    &__title {
        @include title-font;
    }

    &__band {
        text-decoration: underline;
        color: $label-color;
    }

    &__band:hover {
        cursor: pointer;
    }

    &__tab {
        display: flex;
        flex-wrap: wrap;
        max-width: 310px;
        justify-content: center;
        font-family: "Raleway-regular";
        @include tablet {
            max-width: 600px;
            padding: 0 20px;
        }
        @include desktop {
            padding: 0 40px;
        }
    }

    &__tab--linkedin {
        @include button;
        background-color: #0E76A8;
        border-color: #0E76A8;
        color: $background-color;
    }

    &__tab--linkedin:hover {
        background-color: $background-color;
        color: #0E76A8;
    }

    &__tab--github {
        @include button;
        background-color: $text-color;
        color: $background-color;
    }

    &__tab--github:hover {
        background-color: $background-color;
        color: $text-color;
    }

    &__tab--ins {
        @include button;
        background-color: #3f729b;
        border-color: #3f729b;
        color: $background-color;
    }

    &__tab--ins:hover {
        background-color: $background-color;
        color: #3f729b;
    }

    &__tab--resume {
        @include button;
        background-color: $label-color;
        border-color: $label-color;
        color: $background-color;
    }

    &__tab--resume:hover {
        background-color: $background-color;
        color: $label-color;
    }
}

.band-modal {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include tabletText {
        height: 350px;
        width: 350px;
    }
    @include tablet {
        width: 600px;
        height: 200px;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    @include desktop {
        width: 800px;
        height: 300px;
    }
    
    &__icon {
        text-align: center;
        color: $text-color;
        text-decoration: none;
        flex-basis: 50%;
        @include tablet {
            flex-basis: auto;
        }
    }

    &__img {
        width: 30px;
        height: 30px;
        @include tablet {
            width: 37px;
            height: 37px;
        }
        @include desktop {
            width: 45px;
            height: 45px;
        }
    }

    &__text {
        font-size: $mobile-text-size;
        color: $text-color;
        @include tablet {
            font-size: $tablet-text-size;
        }
        @include desktop {
            font-size: $desktop-text-size;
        }
    }

    &__text:hover {
        color: $label-color;
    }

}