@import '../src/Styles/variables';

html,
body {
  margin: 0;
  font-family: "Roboto-light";
  box-sizing: border-box;
  color: $text-color;
  background-color: $background-color;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}