@import '../../Styles/variables';
@import "../../Styles/mixins";

.navBar {
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    width: 100%;
    height: 10vh;
    padding: $mobile-padding;
    background-color: $background-color;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
    @include tablet {
        // padding: $tablet-padding;
        padding: 0;
        flex-direction: column;
        align-items: center;
        width: 12vw;
        height: 100vh;
    }
    // @include desktop {
    //     padding: $desktop-padding;
    //     padding: 0;
    // }

    &__logo {
        display: none;
        @include tablet {
            display: inline;
            width: 10vw;
            height: 10vh;
        }
    }

    &__list {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        @include tablet {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__list-item {
        @include tablet {
            margin: 3vh 0;
        }
    }

    &__list-item-tab {
        width: 100%;
        position: relative;
        padding: 5px 0;
        font-size: 14px;
        @include tablet {
            font-size: 1.5vw;
        }
    }

    &__list-item-tab:before, &__list-item-tab:after {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 1px;
        background: $text-color;
        content: "";
        opacity: 0;
        transition: all 0.3s;
    }

    &__list-item-tab:before {
        top: 0px;
        transform: translateY(10px);
    }

    &__list-item-tab:after {
        bottom: 0px;
        transform: translateY(-10px);
    }

    &__list-item-tab:hover:before, &__list-item-tab:hover:after {
        opacity: 1;
        transform: translateY(0px);
    }

    &__list-item-tab:hover {
        cursor: pointer;
    }

    &__active {
        text-decoration: line-through;
    }
}